@model AskMe.Models.RegisterViewModel
@{
	ViewBag.Title = "註冊";
}
<div class="col-md-12">
	<div class="page-content">
		<h2>建立新的帳戶</h2>
		<div class="form-style form-style-3">
			<form method="post">
				@Html.AntiForgeryToken()
				<div class="form-inputs clearfix">
					@Html.ValidationSummary("", new { @class = "text-danger" })
					<p class="login-text">
						@Html.TextBoxFor(m => m.Email, new { @placeholder = "請輸入Email" })
						<i class="icon-user"></i>
					</p>
					<p class="login-password">
						@Html.PasswordFor(m => m.Password, new { @placeholder = "請輸入密碼" })
						<i class="icon-lock"></i>
					</p>
					<p class="login-password">
						@Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "確認密碼" })
						<i class="icon-lock"></i>
					</p>
				</div>
				<p class="form-submit login-submit">
					<input type="submit" value="註冊" class="button color small login-submit submit">
				</p>
			</form>
		</div>
	</div><!-- End page-content -->
</div><!-- End col-md-12 -->

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}